/* LOADER OVERLAY */
#loader {
    position: fixed;
    inset: 0;
    /* top:0; right:0; bottom:0; left:0 */
    background-color: #050505;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;

    opacity: 1;
    visibility: visible;
    transition: opacity 0.5s ease, visibility 0.5s ease;
}

#loader.loader--hidden {
    opacity: 0;
    visibility: hidden;
}

/* Spinner */
.spinner {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 3px solid rgba(255, 255, 255, 0.2);
    border-top-color: rgb(70, 70, 255);
    /* gold accent */
    animation: spin 0.8s linear infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}